<div class="form-read-user">
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="nome"
                placeholder="Pesquisa por nome">
        </div>
        <button type="button" (click)="readUserByName()" id="buscar" class="btn btn-primary mb-2">
            <span class="glyphicon glyphicon-search"></span> Buscar
        </button>
        <button type="button" [routerLink]="['/usuarioAdd']" id="novo" style="margin-left: 5px;"
            class="btn btn-success mb-2">
            <span class="glyphicon glyphicon-plus"></span> Novo
        </button>
    </form>
    
    <table class=" table table-striped table-bordered ">
        <thead class="thead-dark ">
            <th (click)="sort('id')" scope="col " class="text-center" id="th-id">
                Id
                <span *ngIf="key =='id'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th (click)="sort('nome')" scope="col " class="text-center" id="th-nome">
                Nome
                <span *ngIf="key =='nome'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th (click)="sort('cpf')" scope="col " class="text-center">
                CPF
                <span *ngIf="key =='cpf'">{{reverse ? '▲' : '▼'}}</span>
            </th>
            <th scope="col " class="text-center">Deletar</th>
            <th scope="col " class="text-center">Editar</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users | paginate: {itemsPerPage: size, currentPage: pagina_atual, totalItems : total};
                 let indice = index">
                <td class="text-center">{{user.id}}</td>
                <td>{{user.nome | uppercase}}</td>
                <td class="text-center">{{user.cpf}}</td>
                <td class="text-center">
                    <button (click)="deleteUserById(user.id, indice)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-trash"></span> Deletar
                    </button>
                </td>
                <td class="text-center">
                    <button [routerLink]="['/usuarioAdd', user.id]" class="btn btn-success">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="content">
        <div id="lbl-items">
            <p id="lbl-size">Itens por página:</p>
        </div>
        <div id="select">
            <select name="size" id="size" [(ngModel)]="size" (ngModelChange)="carregarUsuarioPaginado(pagina_atual)">
                <option *ngFor="let size of size_array">{{size}}</option>
            </select>
        </div>
            <div id="lbl-registers">
                <p> Registros encontrados: {{total}}</p>
            </div>
            <div id="paginacao">
                <pagination-controls (pageChange)="carregarUsuarioPaginado(pagina_atual = $event);" previousLabel="Voltar" nextLabel="Avançar">
                </pagination-controls>
            </div>
    </div>

    <head>
        <title>Tela de Consulta de Usuários</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
</div>