
#nome {
    margin-right: 8px;
    margin-bottom: 5px;
    position: relative;
}

#buscar, #novo {
    margin-right: 4px;
    margin-bottom: 5px;
}

.form-read-user {
    margin: auto;
    width: 80%;
    background: #ffffff;
    padding: 10px;
}