
#nome {
    margin-right: 8px;
    margin-bottom: 8px;
}

#buscar {
    margin-right: 4px;
    margin-bottom: 8px;
}

.form-read-user {
    margin: auto;
    width: 80%;
    background: #ffffff;
    padding: 10px;
}

.uppercase {
    text-transform: uppercase; 
}