
#nome {
    margin-right: 8px;
    margin-bottom: 5px;
    position: relative;
}

#buscar, #novo {
    margin-right: 4px;
    margin-bottom: 5px;
}

.form-read-user {
    padding-left: 20%;
    padding-right: 20%;
    background: #ffffff;
}

.clearfix {
    position: relative;
    right: 30%;
    left: 30%;
    font-size: 14px;
  }