<h3>Tela de Cadastro de Usuários</h3>

<form style="padding: 10px;" #formValidate="ngForm">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="id">Id</label>
            <input type="text" [(ngModel)]="usuario.id" class="form-control" id="id" name="id" readonly="true"
                autocomplete="false">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nome">Nome</label>
            <span style="color: red; font-size: 23px;" *ngIf="nomeValidate.invalid"> *</span>
            <input type="text" style="text-transform: uppercase" [(ngModel)]="usuario.nome" #nomeValidate="ngModel"
                class="form-control" id="nome" required="true" name="nome" autocomplete="false">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="login">Login</label>
            <span style="color: red; font-size: 23px;" *ngIf="loginValidate.invalid"> *</span>
            <input type="text" style="text-transform: lowercase" [(ngModel)]="usuario.login" #loginValidate="ngModel"
                class="form-control" id="login" required="true" name="login" autocomplete="false">
        </div>
        <div class="form-group col-md-3">
            <label for="nome">Senha</label>
            <span style="color: red; font-size: 23px;" *ngIf="senhaValidate.invalid"> *</span>
            <input type="password" [(ngModel)]="usuario.senha" #senhaValidate="ngModel" class="form-control" id="senha"
                required="true" name="senha" autocomplete="false">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="cpf">CPF</label>
            <span style="color: red; font-size: 23px;" *ngIf="cpfValidate.invalid"> *</span>
            <input type="text" mask="000.000.000-00" [(ngModel)]="usuario.cpf" #cpfValidate="ngModel"
                class="form-control" id="cpf" required="true" name="cpf" autocomplete="false">
        </div>

        <div class="form-group-append col-md-3">
            <label for="dataNascimento">Data de Nascimento</label>
            <span style="color: red; font-size: 23px;" *ngIf="dataNascimentoValidate.invalid"> *</span>
            <div class="position-relative w-100">
                <div class="input-group-append">
                    <input style="text-align: center;" id="dataNascimento" readonly name="dataNascimento" type="text"
                        [minDate]="minDate" [maxDate]="maxDate" class="form-control" ngbDatepicker
                        #dataNascimentoValidate="ngModel" #dataNascimento="ngbDatepicker"
                        [(ngModel)]="usuario.dataNascimento" required="true">
                    <div class="input-group-append" style="position: absolute;">
                        <button id="btn-calendar" style=" outline: none; box-shadow: none;" enable
                            (click)="setFocusTelephone()" class="btn btn-success" (click)="dataNascimento.toggle()"
                            [attr.aria-expanded]="dataNascimento.isOpen" type="button">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-3" style="position: relative, fixed; margin-top: 0px; padding-bottom: 0px;">
            <label for="profissao">Profissão</label>
            <span style="color: red; font-size: 23px;" *ngIf="profissaoValidate.invalid"> *</span>
            <select [(ngModel)]="usuario.profissao.id" name="profissao" id="profissao" #profissaoValidate="ngModel"
                class="form-control" required="true">
                <option [ngValue]="p.id" *ngFor="let p of profissao_array">
                    {{p.descricao | uppercase}}
                </option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label for="salario">Salário</label>
            <span style="color: red; font-size: 23px;" *ngIf="usuario.salario === null || usuario.salario == '' 
            || usuario.salario === undefined"> *</span>
            <input type="text" name="salario" id="salario" [(ngModel)]="usuario.salario" class="form-control"
                currencyMask [options]="{prefix: 'R$ ', thousands: '.', decimal: ','}">
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            Contatos
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <input type="text" mask="(00) 0.0000-0000" class="form-control" [(ngModel)]="telefone.numero"
                        id="telefone" name="numero">
                </div>
                <div class="form-group col-md-1">
                    <button class="btn btn-primary" (click)="addTelephone()">
                        <span class="glyphicon glyphicon-plus"></span> Adicionar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <th scope="col " class="text-center">Id</th>
            <th scope="col " class="text-center">Número</th>
            <th scope="col " class="text-center">Editar</th>
        </thead>
        <tbody>
            <tr *ngFor="let telefone of usuario.telefones; let indice = index">
                <td class="col-md-1 text-center">{{telefone.id}}</td>
                <td class="col-md-5">{{telefone.numero | mask:'(00) 0.0000-0000'}}</td>
                <td class="text-center col-md-1">
                    <button class="btn btn-warning" (click)="deleteTelephone(telefone.id, indice)">
                        <span class="glyphicon glyphicon-trash"></span> Deletar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-row">
        <div class="form-group col-md-5">
            <button type="button" id="voltar" class="btn btn-info mb-2" [routerLink]="['/users']">
                <span class="glyphicon glyphicon-arrow-left"></span> Voltar
            </button>
            <button type="button" id="novo" (click)="newUser()" class="btn btn-success mb-2" style="margin-left: 10px;">
                <span class="glyphicon glyphicon-plus"></span> Novo
            </button>
            <button type="button" id="salvar" [disabled]="formValidate.invalid" (click)="createUser()"
                class="btn btn-primary mb-2" style="margin-left: 10px;">
                <span class="glyphicon glyphicon-save"></span> Salvar
            </button>
        </div>
    </div>

    <head>
        <title>Tela de Cadastro e Edição de Usuários</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
</form>