form {
    border-style: solid;
    border-color: black;
    border-width: thin;
    position: relative;
    margin: auto;
    width: 80%;
    background: #ffffff;
    padding: 10px;
}

h3 {
    padding-top: 10px;
    margin: auto;
    width: 80%;
}

#novo, #voltar, #salvar {
    margin-top: 20px;
}

.upperCase {
    text-transform: uppercase;
}

table {
    margin-top: 10px;
    width: 50%;
}